.example-spacer {
    flex: 1 1 auto;
  }

  mat-toolbar {
    background-color: rgb(152, 218, 139);
    color: rgb(41, 37, 37);
    font-size: 20px;
  }

  .nav-out {
    display: flex;
    justify-content: space-between;
    width: 135px;
  }

  .nav-in {
    display: flex;
    justify-content: space-between;
    width: 155px;
  }

  .new-post {
    font-size: 25px;
    cursor: pointer;
  }

  .new-post:active {
    transform: scale(0.95);
  }


  .login:hover, .register:hover, .logout:hover, .title {
    cursor: pointer;
  }