:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  app-header {
    flex: 0 0 auto;
  }
  
  .page-content {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  app-footer {
    flex: 0 0 auto;
  }