<div class="password-container">
    <mat-form-field class="custom-input">
        <mat-label>{{passwordMessage}}</mat-label>
        <input 
        matInput 
        [(ngModel)]="password"
        [type]="hide() ? 'password' : 'text'"
        (ngModelChange)="onPasswordChange()" />
        <button
          mat-icon-button
          matSuffix
          (click)="changeInputView($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
        >
          <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
</div>